* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.card-container-style{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-style{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 90, 90, 1);
  color: white;
  gap: 5px;
  width: 100%;
  height: 3rem;
}

.world-icon-style{
  width: 1rem;
  border-radius: 50%;
  border: 1px solid rgba(245, 90, 90, 1);
  background-color: white;
}

.image-container-style{
  height: 300px;
  padding: 20px;
}

.image-style{
  width: 150px;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.card-style{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: relative;
  min-width: 450px;
  max-width: 600px;
  overflow: hidden;
}

.card-title-style{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: .9rem;
}

.loc-icon-style{
  width: .85rem;
  height: .85rem;
}

